{% extends 'base.html.twig' %}
{% block body %}
	<div class="media">
		<h1 class="mt-0">{{ program.title }}</h1>
        <p>Voici tout les épisodes de la saison {{ seasons.number }} de {{ program.title }}</p>
		{% for episode in seasons.episodes %}
			<div class="media-body">
				<a href="{{ path('program_show_episode', { program_id: program.id, season_id: seasons.id, episode_id: episode.id}) }}">Episode : {{episode.number}}</a>
				<p>Synopsis : {{episode.synopsis}}</p>
			</div>
		{% endfor %}
			<a href="{{ path("program_show", { program_id: program.id }) }}">Retour sur la fiche de {{ program.title }}</a>
	</div>
{% endblock %}
