{% extends 'base.html.twig' %}
{% block title %}
	{{ program.title }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="image" src="{{ asset('upload/') ~ program.poster }} " alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :{{ program.category.name }}</p>
			{% for seasons in program.season %}
				<a href="{{ path('program_show_season', { program_id: program.id, season_id: seasons.id}) }}">Saison :
					{{seasons.number}}
				</a>
				<p>Synopsis :
					{{seasons.description}}
				</p>
			{% endfor %}
			<strong>Acteurs :</strong>
			<ul>
				{% for actor in program.actors %}
					<li>{{ actor.name }}
					</li>
				{% else %}
					<li>Aucun acteur pour cette série</li>
				{% endfor %}
			</ul>

		</div>
	</div>

	<a href="{{ path('program_index') }}">Retour à la liste des programmes</a>
{% endblock %}
